html {
    font-family: sans-serif;
    font-size: 60;
}

body {
    font-size: 14px;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

nav,
footer {
    display: block;
}

.clearfix:after,
.container:after,
.navbar::after {
    clear: both;
    display: table;
    content: " ";
}

.wrap {
    height: 100%;
    width:100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

.menu-container {
    max-height: 340px;
    margin: 0% auto;
    content: " ";
    width: 100%;
    position: fixed;
    z-index: 100;
}

#home {
    background: url(../Thumb/thumbnail_2.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 350px;
    padding-bottom: 500px;
    color: #fff;
}

.head-main {
    font-variant: small-caps;
    color: #fff;
    letter-spacing: 5pt;
    word-spacing: 21pt;
    font-size: 4.5cm;
    text-align: left;
    font-family: impact, sans-serif;
    line-height: 2;
    font-weight: 600;
    border: 5px double #fff;
    padding: 10px;
}

.reservation {
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(100,65,0,.3);
    box-shadow: -1px -1px 1px 0;
}

.reservation form {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8d8e0f;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid #808080;
    margin: 2% auto;
    border-radius: 7px;
    background: rbga(227,222,222);
    box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.3);
    font-family: 'Raleway', sans-serif;
}

.reservation input[type="text"] {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #911414;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid #808080;
    margin: 2% auto;
    border-radius: 7px;
    background: rgba(227,222,222);
    box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.3) ;
    font-family: 'Raleway', sans-serif;
}

.head-main {
    text-shadow: 2px 4px 5px rgba(0,0,0,0.9);
    font-variant: small-caps;
    color: #fff;
    letter-spacing: 5pt;
    word-spacing: 21pt;
    font-size: 4.5cm;
    text-align: left;
    line-height: 2;
    font-weight: 700;
    border: 5px double #fff;
    padding: 10px;
} 

#contact {
    background-color: #fff;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
}

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;    
}

.column {
    float: left;
    width: 25%;
}
/*Modal background */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}
/*The close button */
.close {
    color: white;
    position: absolute;
    top: 60px;
    right: 15px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the next button to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Number text (1/4 etc) */
.numbertext {
    color: darkred;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img{
    margin-bottom: -4px;
}

.caption-container{
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.image-container {
    opacity: 0.6;
}

.active,
.image-container:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),;
}